@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    background-color: gray;
    color: white;
    padding: 10px;
}

header > div > span#burguer {
    display: none;
}

header h1 {
    /* border: 1px dotted black; */
    flex: 0 1 200px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
    animation: h1 5s ease-in-out .5s forwards;
}

@keyframes h1 {
    0%{
        transform: scale(1);
    }

    2% {
        color: #00000088; /* Cor original */ 
    }
    50% {
        transform: scale(1.2);
        color: #ffeeee; /* Cor durante a animação */
        translate: 20% 20%;
    }
    80% {
        transform: scale(1.2);
        color: #fff; /* Retorna à cor original */
        translate: 20% 20%;
    }

    100% {
        transform: scale(1.2);
        translate: 20% 20%;
    }
}

header nav {
    display: flex;
    flex-flow: row wrap;
    
    
    justify-content: flex-end;
    align-items: flex-end;

   /*  border: 1px dotted black; */
    margin-top: 10px;

}





header nav a {
  /*   display: inline-flex; */
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    /* align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px; */
}

header nav a:hover {
    background-color: #ddd;
    color: black;
    transition: background-color .5s, color .1s;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
}

/* @media screen and (min-width:500px) and (max-width:700px) {

    body{
        display:none
    }
} */

.menu {
    display: none;
}
