@charset "UTF-8";

/* Versão Mobile First */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* incluir a borda no calculo do tamanho só um detalhe faz bastante
     no mobile firts */
}



html,body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

body {
    background: black ;
    background-image: url(../imagens/back-phone.jpg);
    background-size: cover;
    background-position: center center;
    padding: 20px;
}

main {
    background-color: rgba(255, 255, 255, 0.842);
    width: 90vw;
    /* margin-top: 20px; */ /* evitar colocar margin-top junto com margin auto */
    margin: auto; /* sempre após margin top left e etc para evitar problema de rolagem */
    border-radius: 10px;
    padding-top:10px ;
}

h1 {
    text-align: center;
    
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

img {
    display: block;
    margin: auto;
}

img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}